
.Header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 62.5px;
	padding: 10px;
	background-color: #000000;
}

 .Header img {
		border: 2px
		width: 82.5px;
		height: 62.5px;
}

.showbox {
	display: inline-block;
}

.showbox p {
	text-align: center;
}

.showbox img {
	border: 2px;
	width: 800;
	height: 600;
}

.showbox input {
	width: 50px;
	font-size: 25px;
}

.showbox span {
	width: 300px;
	margin-left: 200px;
	margin-right: 200px;
	font-size: 25px;
}

.btn {
	border:none;
	background: #000000;
	color: #FFF;
	font-size: 16px;
	transition: .4s;
}

.btn:hover{
		background: #668ad8;
}

#startstop {
	display: inline-block;
	text-decoration: none;
	background: #000000;
	color: #FFF;
	line-height: 120px;
	border-radius: 50%;
	text-align: center;
	vertical-align: middle;
	overflow: hidden;
	transition: .4s;
	width: 120px;
	height: 120px;
	font-size: 16px;
 border: none;
}

#startstop:hover{
		background: #668ad8;
}
